.table-of-contents {
    background-color: #f6f8fa;
    border: 1px solid #e1e4e8;
    width: fit-content;
    position: relative;
}

.table-of-contents ul {
    list-style-type: none;
    padding: 0 16px 0 16px;
    margin: 0;
    width: fit-content;
    position: relative;
}

a.header-anchor {
    color: #e1e4e8;
}

.mermaid {
    margin-bottom: 16px;
}