.table-of-contents {
    background-color: #f6f8fa;
    border: 1px solid #e1e4e8;
    width: fit-content;
    position: relative;
}

.table-of-contents ul {
    list-style-type: none;
    padding: 0 1em 0 1em;
    margin: 0;
    width: fit-content;
    position: relative;
}